{% extends "base.html" %}

{% block content %}
<div class="section-heading marginbot-20">
    {% if error %}
        <h2 class="post-title">没有相关文章题目</h2>
    {% else %}
    {% for post in post_list %}
        <div class="post-item">
            <div class="post-info">{{ post.date_time|date:'M d, Y'}}</div>
            <a class="post-title-link" href="{% url 'detail' article_id=post.id %}">{{ post.title }}</a>
        </div>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}