<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alvin</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/icon/iconfont.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<ul class="menu">
			<li class="menu-main">
				<a class="iconfont icon-menu"></a>
			</li>

			<li class="menu-social">
				<ul>
					<li>
						<a href="#">
							<i class="iconfont icon-rss icon-2x" style="font-size: 1.5em;"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="iconfont icon-github icon-2x" style="font-size: 1.5em;"></i>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<section class="home-section">main
	</section>
	<footer>footer</footer>
</body>

</html>

