<!DOCTYPE html>
<!--固定宽度，自适应效果通过float功能实现-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>CatCode</title>
    <style type="text/css">
        html { height: auto; }
        body{ margin: 0; padding: 0}
        #layout{
            padding: 0;
        }
        .sidebar{
            background: rgb(61, 79, 93);
            color: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
        }
        .content{
            background: red;
            padding: 2em 3em 0;
            margin-left: 25%;
        }
    </style>
</head>

<body>
    <div id="layout">
        <div class="sidebar">
            <div class="header">
                <h1 class="title">Alvin Blog</h1>
                <h2 class="tagline">技术、生活、分享</h2>
            </div>
        </div>
        <div class="content">
            <div>
                {% block content %}
                {% endblock %}
                <div class="footer">
                    <div class="legal">
                        <p class="legal-copyright" style="font-size:90%;color:grey">
                            &copy; 2015 Alvin All rights reserved.</br>
                            <a href=http://www.miitbeian.gov.cn">豫ICP备15023666号</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
