[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www
Group=www
WorkingDirectory=/home/www/myproject
ExecStart=/home/www/myproject/myprojectenv/bin/gunicorn --workers 3 --max-requests 10 --user www --group www --log-level debug --error-logfile /var/log/gunicorn/error.log --bind unix:/home/www/myproject/myproject.sock myproject.wsgi:application

[Install]
WantedBy=multi-user.target
